@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://images.pexels.com/photos/5966011/pexels-photo-5966011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block mx-lg-auto img-fluid rounded" alt="Up University" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Up University</h1>
            <p class="lead">Up University is your university to move up in the world to a brighter and more fulfilling future! </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="Students/Create" type="button" class="btn btn-primary btn-lg px-4 me-md-2">New Student</a>
                <a href="Students" type="button" class="btn btn-outline-secondary btn-lg mx-2 px-4">All Students</a>
            </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-md-4">
        <h2>Enroll Today</h2>
        <p>
            Up University has open enrollment all-year-long. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>Up University has the courses you need to land the career you want.</p>
    </div>
    <div class="col-md-4">
        <h2>Class Size</h2>
        <p>Class sizes are small to personalize your learn experience.</p>
    </div>
</div>