@{
    ViewBag.Title = "UpdateCourseCredits";
}

<div class="my-5">
<h2>Update Course Credits</h2>

    <div class="my-5">
@if (ViewData["RowsAffected"] == null)
{
    <form asp-action="UpdateCourseCredits">
        <div class="form-actions no-color">
            <p>
                Enter a number to multiply every course's credits by: @Html.TextBox("multiplier")
            </p>
            <p>
                <input type="submit" value="Update" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </p>
        </div>
    </form>
}
</div>
@if (ViewData["RowsAffected"] != null)
{
    <p>
        Number of rows updated: @ViewData["RowsAffected"]
    </p>

    <p>
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </p>
}
</div>